absl-py==1.4.0
aesara==2.9.3
astunparse==1.6.3
attrs==23.2.0
Automat==22.10.0
blinker==1.7.0
cachetools==5.3.0
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.1.0
click==8.1.7
configparser==6.0.0
cons==0.4.6
constantly==23.10.4
contourpy==1.0.7
country-converter==1.0.0
cryptography==42.0.2
cssselect==1.2.0
cycler==0.11.0
dnspython==2.5.0
dnstwist==20240116
domain-reputation==1.0.0
etuples==0.3.9
filelock==3.13.1
Flask==3.0.2
Flask-Cors==4.0.0
flatbuffers==23.5.26
fonttools==4.39.2
fsspec==2024.2.0
future==0.18.3
futures==3.0.5
gast==0.4.0
google-auth==2.16.3
google-auth-oauthlib==1.2.0
google-pasta==0.2.0
grpcio==1.51.3
h5py==3.8.0
huggingface-hub==0.20.3
hyperlink==21.0.0
idna==3.4
imbalanced-learn==0.12.0
imblearn==0.0
incremental==22.10.0
iniconfig==2.0.0
itemadapter==0.8.0
itemloaders==1.1.0
itsdangerous==2.1.2
jax==0.4.6
Jinja2==3.1.3
jmespath==1.0.1
joblib==1.3.2
keras==2.15.0
kiwisolver==1.4.4
Levenshtein==0.24.0
libclang==16.0.0
logical-unification==0.4.6
lxml==5.1.0
Markdown==3.4.3
MarkupSafe==2.1.2
matplotlib==3.7.1
miniKanren==1.0.3
ml-dtypes==0.2.0
mpmath==1.3.0
msg-parser==1.2.0
multipledispatch==1.0.0
networkx==3.2.1
nltk==3.8.1
numpy==1.23.5
oauthlib==3.2.2
olefile==0.47
opt-einsum==3.3.0
packaging==23.0
pandas==2.1.1
parsel==1.8.1
patsy==0.5.3
Pillow==9.4.0
pluggy==1.3.0
Protego==0.3.0
protobuf==4.22.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycountry==22.3.5
pycparser==2.21
PyDispatcher==2.0.7
pyOpenSSL==24.0.0
pyparsing==3.0.9
pysafebrowsing==0.1.2
pytest==7.4.2
python-dateutil==2.8.2
python-whois==0.8.0
pytz==2023.3.post1
PyYAML==6.0.1
queuelib==1.6.2
rapidfuzz==3.6.1
regex==2023.12.25
requests==2.28.2
requests-file==1.5.1
requests-oauthlib==1.3.1
rsa==4.9
safetensors==0.4.2
scikit-learn==1.3.2
scipy==1.10.1
Scrapy==2.11.0
seaborn==0.13.1
service-identity==24.1.0
six==1.16.0
statsmodels==0.14.0
sympy==1.12
tensorboard==2.15.2
tensorboard-data-server==0.7.0
tensorboard-plugin-wit==1.8.1
tensorflow==2.15.0
tensorflow-addons==0.23.0
tensorflow-estimator==2.15.0
tensorflow-hub==0.16.1
tensorflow-io-gcs-filesystem==0.31.0
tensorflow-text==2.15.0
termcolor==2.2.0
tf-keras==2.15.0
Theano==1.0.5
threadpoolctl==3.2.0
tldextract==5.1.1
tokenizers==0.15.2
toolz==0.12.0
torch==2.2.0
tqdm==4.66.1
transformers==4.37.2
Twisted==22.10.0
typeguard==2.13.3
typing_extensions==4.9.0
tzdata==2023.3
urllib3==1.26.15
validators==0.22.0
verispy==0.1.13
w3lib==2.1.2
Werkzeug==3.0.1
whois==1.20240129.2
whoisdomain==1.20240129.1
wrapt==1.14.1
xgboost==2.0.3
zope.interface==6.1
