.superContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: monospace;

}


.adviceContainer{
    display:flex;
    justify-content: space-around;
    height: 60vh;
    margin: 0 auto;
    width: 80%;
    margin-top: 3vh;
    align-items: center;
}

.superContainer text{
    display: block;
    text-align: center;
    margin-top: 3%;
    font-size: 4vh;
  
}

.superContainer p{
    text-align: center;
    margin-top: 3%;
}


.contentDivide{
    height: 80%;
    width: 0.5vh;
    border: 1px solid black;
    border-radius: 20px;
    background-color: black;
}

.adviceLeft{

    font-size: 1.5vh;
    width: 60%;
    align-self: flex-start;
    margin-top: 3%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-family: monospace;
}

.leftList li{
   text-align: center;
   text-decoration: none;
   list-style: none;
   padding: 1.5vh;
}

.leftList ul{
    padding: 0;
    justify-content: center;
}

.adviceRight{

    width: 60%;
    align-self: flex-start;
    margin-top: 3%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-family: monospace;
    font-size: 1.5vh;
}

.adviceRight ul{
    padding: 0;
    justify-content: center;
}

.adviceRight a{
    color: blue;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-decoration: none;
    list-style: none;
    padding: 1vh;
 }

h1{
    text-align: center;
    font-family: monospace;
    
}





